In [ ]:
print(10)
print("Stelios")
print("London","Paris")

10
Stelios
London Paris

In [ ]:
print(10*2)

20

In [ ]:
input("Enter your name:")

Enter your name:Stelios

'Stelios'

In [ ]:
# Print number 10.10
print(10.10)

10.1

In [ ]:
X = 10.20
name = "Stelios"
print(X)
print(name)

10.2
Stelios

In [ ]:
# Ask the user what is their city
# Print the user city
# * Use a variable
city = input("What is your city:")
print(city)
name = input("What is your name:")
print(name)

What is your city:France
France
What is your name:Orlane
Orlane

In [ ]:
x = float(input("Enter a number:"))
y = int(input("Enter a second number"))
print("Result is",x+y)

Enter a number:34
Enter a second number12
Result is 46.0

In [ ]:
# Create a program, ask the user to give you 3 integers.
# Then find the product of the values (a*b*c)
# 1 2 3
# Print the result in the form The product is: 6
a = int(input("Give me an integer:"))
b = int(input("Give me a second integer:"))
c = int(input("Give me a third integer:"))
print("The Product is",a*b*c)

Give me an integer:1
Give me a second integer:2
Give me a third integer:3
The Product is 6

In [ ]:
# Ask the user to enter two numbers
# Divide the numbers (float)
# a
# b
# a/b

a=float(input("Enter a number:"))
b=float(input("Enter a number:"))
print(a/b)

Enter a number:6
Enter a number:2
3.0

In [ ]:
x = float(input("Enter a number"))
y = float(input("Enter a number"))
if y == 0:
  print("I cannot divide")
else:
  print(x/y)

Enter a number435
Enter a number34
12.794117647058824

In [ ]:
city = input("Enter a city:")

if city=="Paris":
  print("Bonjour")
  print(10)
else:
  print("Hi!")
  print(100)

Enter a city:Paris
Bonjour
10

Exercise 1

Create a program to ask the user their name and their age.

If the user is over 18, then print you are an adult. If the user is less than 18, you are a kid!**bold text**

In [ ]:
name = input("What is your name?:")
age = int(input("What is your age:"))
if age >= 18:
  print("You are an adult!")
else:
  print("You are a kid!")

What is your name?:Orlane
What is your age:18
You are an adult!

In [ ]:
# > < >= <= NOT EQUAL(<> , !=)

Create a program, ask the user to enter two numbers.

Print the maximum number.

In [ ]:
a = float(input("Enter number a:"))
b = float(input("Enter number b:"))
if a > b:
  print (a)
else:
  print(b)

Enter number a:10
Enter number b:10
10.0

In [ ]:
x = 10
y = 20
if x>y:
  print("x is greater than y")
elif x<y:
  print("x is less than y")
else:
  print("x is equal to y")

x is less than y

Create a program to ask the user to enter a score.
* if the score is less than 50 you failed.
* if the score is between 50 and 70 is pass.
* if the score is greater than 70 is distinction.

In [ ]:
score = int(input("What is you score"))
if score>0 and score < 50:
  print("You failed")
elif score >= 50 and score <70:
  print("You passed")
elif score >=70 and score <=100:
  print("You passed with distinction")
else:
  print("Something is wrong")

What is you score100
You passed with distinction